// Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

// SCSS Variables Start

// Colors
$color-text-primary: #fff;
$color-text-secondary: #ffcb68;
$color-text-active: #ff69c9;
$color-text-dark: #000;

$color-bg-primary: #193dc0;
$color-bg-secondary: rgba(10, 29, 149, 1);
$color-bg-helper: #081990;

// Fonts
$font-primary: "Poppins", sans-serif;

// SCSS Variables End

// CSS Variables Start
:root {
  --height-navbar: 5rem;

  @media screen and (min-width: 991px) {
    --height-navbar: 7rem;
  }
}
// CSS Variables End
